.search-page {
  text-align: center;
}

.search-page__title {
  margin-top: 300px;
  margin-bottom: 20px;
}

.search-page__title > span {
  font-size: 70px;
  font-weight: 650;
}

.search-page__input-container {
  width: 100%;
}

.search-page__input {
  width: 582px;
  height: 44px;
  border: 1px solid #c5c3c3;
  border-radius: 30px;
  font-size: large;
}

.search-page__input:focus {
  outline: none;
}

.search-page__search-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  height: 36px;
  width: 115px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.search-page__search-button:hover {
  border: 1px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

.search-page__search-button:focus {
  outline: none;
}
