# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SearchHistoryAPI.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\45427\Documents\DLSSearchEngine\SearchHistoryAPI\.idea\.idea.SearchHistoryAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
