# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SearchHistoryAPI.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\45427\Documents\DLSSearchEngine\SearchHistoryAPI\.idea\.idea.SearchHistoryAPI.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
