.searched-document-page__header {
  padding-left: 20px;
  padding-top: 30px;
  height: 70px;
  border-bottom: 1px solid #cccccc;
}

.searched-document-page__header-title {
  margin-right: 30px;
  float: left;
  cursor: pointer;
}

.searched-document-page__header-title > span {
  font-size: 25px;
  font-weight: 550;
}

.searched-document-page__body {
  float: left;
  z-index: 0;
}

.searched-document-page__body-row {
  border-bottom: 1px solid #cccccc;
}

.searched-document-page__body-no-result {
  margin-left: 100px;
  margin-top: 30px;
  width: 500px;
  z-index: 0;
}
