.searched-document-page__header {
  padding-left: 20px;
  padding-top: 30px;
  height: 70px;
  border-bottom: 1px solid #cccccc;
}

.searched-document-page__header-title {
  margin-right: 30px;
  float: left;
  cursor: pointer;
}

.searched-document-page__header-title > span {
  font-size: 25px;
  font-weight: 550;
}

.searched-document-page__body {
  float: left;
  margin-top: 10px;
  margin-left: 100px;
  z-index: 0;
}

.searched-document-page__body-row {
  margin-bottom: 30px;
}

.searched-document-page__body-row:first-child {
  margin-top: 25px;
}

.searched-document-page__body-no-result {
  width: 500px;
  margin-top: 20px;
  z-index: 0;
}

.searched-document-page__body-row-header {
}

.searched-document-page__body-row-header-link {
  color: #5f6368;
  font-size: 14px;
}

.searched-document-page__body-row-header-title {
  font-size: 20px;
  color: #1a0dab;
  margin-top: 5px;
  cursor: pointer;
}

.searched-document-page__body-row-header-title:hover {
  text-decoration: underline;
}
