# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SearchEngineAPI.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\45427\Documents\DLSSearchEngine\SearchEngineAPI\SearchEngineAPI\.idea\.idea.SearchEngineAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
